@inherits LayoutComponentBase
@using MkDownOffice.Models
@using System.ComponentModel
@inject ViewModel _viewModel

<FluentDesignTheme Mode="DesignThemeModes.Dark"/>


<div class="top-menu">
    <TopMenu />
</div>

<div class="hbox">

    <div class="toolbar">
        <ToolBar />
    </div>
    
    @switch(_viewModel.CurrentMenu)
    {
        case null:
            break;
        case "Files":
            <div class="sidebar">
                <NavMenu />
            </div>
            break;
        default:
            break;
    }

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>

</div>


@code {
protected override async Task OnInitializedAsync() {
    this._viewModel.PropertyChanged += HandlePropertyChanged;
    await base.OnInitializedAsync();
}

private void HandlePropertyChanged(object sender, PropertyChangedEventArgs e)
  {
    if(e.PropertyName == nameof(this._viewModel.CurrentMenu))
    {
      this.StateHasChanged();
    }
  }
~MainLayout(){
    this._viewModel.PropertyChanged -= HandlePropertyChanged;   
}
}