@inherits LayoutComponentBase
@using MkDownOffice.Models
@using System.ComponentModel
@inject ViewModel _viewModel

<FluentDesignTheme Mode="DesignThemeModes.Dark" />

<!-- 

<FluentMainLayout>
  <Header>
    <TopMenu />
  </Header>
  <Body>
      @Body
  </Body>
  <NavMenuContent>
    <NavMenu />
  </NavMenuContent>
</FluentMainLayout>

-->

<FluentLayout Style="height:100vh;">

  <FluentHeader>
    MkDownOffice
    <FluentSpacer />
  </FluentHeader>  

  <FluentSplitter Orientation="Orientation.Horizontal"
                  BarSize="6"
                  Panel1MinSize="15%"
                  Panel1Size="15%"
                  Panel2MinSize="50px"
                  Style="height:100%">
    <Panel1>
      <FluentStack Orientation="Orientation.Horizontal" 
                   HorizontalGap="4"
                   Style="height:100%; background-color: var(--neutral-layer-1)">
        <ToolBar />
        <NavMenu />
      </FluentStack>
    </Panel1>
    <Panel2>
      <TopMenu />
      @Body
    </Panel2>

  </FluentSplitter>

</FluentLayout>

@code {
  protected override async Task OnInitializedAsync()
  {
    this._viewModel.PropertyChanged += HandlePropertyChanged;
    await base.OnInitializedAsync();
  }

  private void HandlePropertyChanged(object sender, PropertyChangedEventArgs e)
  {
    if (e.PropertyName == nameof(this._viewModel.CurrentMenu))
    {
      this.StateHasChanged();
    }
  }
  ~MainLayout()
  {
    this._viewModel.PropertyChanged -= HandlePropertyChanged;
  }
}