@using MkDownOffice.Models
@using System.ComponentModel
@inject ViewModel _viewModel

<div>
    @if(_viewModel.RootFolder == null)
    {
        <button @onclick="OpenRootFolderSelect"> CLICK HERE TO SELECT FOLDER </button>
    }
    else
    {

        <ul class="nav flex-column">

            @foreach(var folder in _viewModel.CurrentFolder.Folders)
            {
                <li @onclick="() => _viewModel.SetCurrentFolder(folder)">
                    @folder
                </li>
            }

            @foreach(var file in _viewModel.CurrentFolder.Files)
            {
                <li @onclick="() => _viewModel.SetCurrentFile(file)">
                    @file
                </li>
            }
        </ul>
    }
</div>

@code {
    private void OpenRootFolderSelect()
    {
        //Temporarily(?) locked to appdata folder
        _viewModel.SetRootFolder();
    }

protected override async Task OnInitializedAsync() {
    this._viewModel.PropertyChanged += HandlePropertyChanged;
    await base.OnInitializedAsync();
}

private void HandlePropertyChanged(object sender, PropertyChangedEventArgs e)
  {
    if(e.PropertyName == nameof(this._viewModel.CurrentFolder))
    {
      this.StateHasChanged();
    }
  }
~NavMenu(){
    this._viewModel.PropertyChanged -= HandlePropertyChanged;   
}
}
