@using MkDownOffice.Models
@inject ViewModel _viewModel

<div>
    <div>
        ps
        <div>
            f
        </div>
        <div>
            s
        </div>
        <div>
            m
        </div>
        <div>
            g
        </div>
    </div>

    <div>
        as
        <div>
            g
        </div>
        <div>
            u
        </div>
    </div>
</div>