@page "/fit/{*pageRoute}"
@using MkDownOffice.Models
@using MkDownOffice.Shared
@using System.ComponentModel
@inject NavigationManager Navigation
@inject ViewModel _viewModel

<h3>Git</h3>

@code {

}
