@page "/"
@using MkDownOffice.Models
@using MkDownOffice.Shared
@using System.ComponentModel
@inject ViewModel _viewModel

<style>

  .content {
    height: 100%;
  }

  .CodeMirror-wrap {
    flex-grow:initial;
  }
  .EasyMDEContainer {
    height:100%;
    flex-direction:column;
  }
</style>
  <div class="content">
    <div class="row">
      <div class="col-md-12" style="display:@displayMarkdown">
        <MarkdownEditor @ref="mdEdit" @bind-Value="@currentMarkdown" Theme="github" />
      </div>
    </div>
  </div>

@code {
  MarkdownEditor mdEdit;
  string displayMarkdown { get => this._viewModel.IsFolderOpen ? "block" : "none"; }
  string currentMarkdown 
  { 
    get => this._viewModel.CurrentFile?.Markdown ?? ""; 
    set
    {
      if(!this._viewModel.IsFolderOpen) return;
      this._viewModel.CurrentFile.Markdown = value; 
    }
  }

  protected override async Task OnInitializedAsync()
  {
    if(this._viewModel.IsFolderOpen)
    {
      await this._viewModel.SetCurrentFile("Design\\core-architecture-classes.md");
    }

    this._viewModel.PropertyChanged += HandlePropertyChanged;

    await base.OnInitializedAsync();  
  }

  private void HandlePropertyChanged(object sender, PropertyChangedEventArgs e)
  {
    if(e.PropertyName == nameof(this._viewModel.CurrentFile))
    {
      this.mdEdit.Value = this.currentMarkdown;
      this.StateHasChanged();
    }
  }

 ~Index()
  {
    this._viewModel.PropertyChanged -= HandlePropertyChanged;
  }
}