@page "/"
@using MkDownOffice.Models
@using MkDownOffice.Shared
@using System.ComponentModel
@inject NavigationManager Navigation
@inject ViewModel _viewModel

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        Select a markdown file
      </div>
    </div>
  </div>

@code {

  protected override async Task OnInitializedAsync()
  {
    this._viewModel.PropertyChanged += HandlePropertyChanged;
    await base.OnInitializedAsync();  
  }

  private void HandlePropertyChanged(object sender, PropertyChangedEventArgs e)
  {
    if(e.PropertyName == nameof(this._viewModel.CurrentFile))
    {
      Navigation.NavigateTo($"/md/{this._viewModel.CurrentFile?.Name}");
    }
  }

 ~Index()
  {
    this._viewModel.PropertyChanged -= HandlePropertyChanged;
  }
}