@page "/"
@using MkDownOffice.Models
@using MkDownOffice.Shared
@inject ViewModel _viewModel

<p>
  @mockMarkDown
</p>
<p>
  @mockParsed
</p>

@code {
    string mockMarkDown = "This is a `small section` of mock **Markdown** text.";
    string mockParsed => markdownParse(mockMarkDown);

    string markdownParse(string raw){
      return raw;
    }
}