@page "/"
@using MkDownOffice.Models
@using MkDownOffice.Shared
@using System.ComponentModel
@inject ViewModel _viewModel

<style>

  .content {
    height: 100%;
  }

  .CodeMirror-wrap {
    flex-grow:initial;
  }
  .EasyMDEContainer {
    height:100%;
    flex-direction:column;
  }
</style>
@if(this._viewModel.IsFolderOpen)
{
  <MarkdownEditor @bind-Value="@currentMarkdown" Theme="github" />
}
else
{
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        Please select a file to view or edit.
      </div>
    </div>
  </div>
}

@code {
  string currentMarkdown 
  { 
    get => this._viewModel.CurrentFile?.Markdown ?? ""; 
    set => this._viewModel.CurrentFile.Markdown = value; 
  }

  protected override async Task OnInitializedAsync()
  {
    if(this._viewModel.IsFolderOpen)
    {
      await this._viewModel.SetCurrentFile("Design\\core-architecture-classes.md");
    }

    this._viewModel.PropertyChanged += HandlePropertyChanged;

    await base.OnInitializedAsync();  
  }

  private void HandlePropertyChanged(object sender, PropertyChangedEventArgs e)
  {
    if(e.PropertyName == nameof(this._viewModel.CurrentFile))
    {
      this.StateHasChanged();
    }
  }

 ~Index()
  {
    this._viewModel.PropertyChanged -= HandlePropertyChanged;
  }
}