@page "/md/{*pageRoute}"
@using MkDownOffice.Models
@using MkDownOffice.Shared
@using System.ComponentModel
@inject NavigationManager Navigation
@inject ViewModel _viewModel

  <!-- Inside Component -->
      <div style="height:100%">
        <MarkdownEditor @ref="mdEdit" 
                        MinHeight="300px"
                        MaxHeight="@defaultHeight"
                        @bind-Value="@currentMarkdown" 
                        />
      </div>

@code {
  [Parameter] public string pageRoute { get; set; }
  string defaultHeight = $"800px";
  MarkdownEditor mdEdit;
  bool isManualUpdate = false;
  string currentMarkdown
  {
    get => this._viewModel.CurrentFile?.Markdown ?? "";
    set
    {
      if (!this._viewModel.IsFolderOpen || isManualUpdate) return;
      this._viewModel.CurrentFile.Markdown = value; 
    }
  }
  protected override async Task OnInitializedAsync()
  {

    this.defaultHeight = $"{this._viewModel.WindowHeight}px";
    this._viewModel.PropertyChanged += HandlePropertyChanged;

    await base.OnInitializedAsync();  
  }

  protected override async Task OnParametersSetAsync()
  {
    if(!string.IsNullOrEmpty(pageRoute) && this.mdEdit!=null)
    {
      this.isManualUpdate = true;
      await this.mdEdit.SetValueAsync(this.currentMarkdown);
      this.isManualUpdate = false;
    }
    await base.OnParametersSetAsync();
  }

  private void HandlePropertyChanged(object sender, PropertyChangedEventArgs e)
  {
    if(e.PropertyName == nameof(this._viewModel.CurrentFile))
    {
      Navigation.NavigateTo($"/md/{this._viewModel.CurrentFile?.Path}");
    }
  }

  ~MdEditor()
  {
    this._viewModel.PropertyChanged -= HandlePropertyChanged;
    if (this._viewModel.CurrentFile.HasChanges) {
      var promise = this._viewModel.SaveAsync();
      promise.Wait();
    }
  }
}