@page "/search"
@using MkDownOffice.Models
@using MkDownOffice.Shared
@using System.ComponentModel

<h3>Search</h3>

@code {

  [Inject] NavigationManager Navigation { get; set; }
  [Inject] MarkdownViewModel ViewModel { get; set; }

}
